@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ribeye&family=Ribeye+Marrow&display=swap');

@import "tailwindcss";


#root {
  margin: 0 auto;
}

@theme {
  --color-butter: #FFEDAB;
  --color-cherry: #75070C;
  --color-olive: #4F6815;
  --color-oat: #F0E6DA;

  --font-ribeye: "Ribeye", sans-serif;
  --font-ribeye-marrow: "Ribeye Marrow", sans-serif;

  --font-menu-settings: "Ribeye", sans-serif, text-2xl text-center;
}
